


  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">







<body class="portfolio-details-page">



  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a routerLink="/home">Home</a></li>
            <li class="current">Détails</li>
          </ol>
        </nav>
        <h1>PETSHOP</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up">


  <div class="swiper-wrapper align-items-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="background-color: #0563bb;"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8" style="background-color: #0563bb;"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/screencapture-localhost-4200-client-acceuil-client-2024-08-02-12_29_33.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/screencapture-localhost-4200-client-apropos-client-2024-08-02-12_29_52.png" class="d-block w-100" alt="...">
    </div>

     <div class="carousel-item">
      <img src="../../assets/screencapture-localhost-4200-client-categories-client-2024-08-02-12_30_01.png" class="d-block w-100" alt="...">
    </div> <div class="carousel-item">
      <img src="../../assets/screencapture-localhost-4200-client-specials-client-2024-08-02-12_30_17.png" class="d-block w-100" alt="...">
    </div> <div class="carousel-item">
      <img src="../../assets/screencapture-localhost-4200-client-contact-client-2024-08-02-12_30_25.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/screencapture-localhost-4200-client-details-achat-client-14-Chats-2024-08-02-12_33_40.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/screencapture-localhost-4200-client-sinscrire-client-2024-08-02-12_30_47.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/screencapture-localhost-4200-client-card-client-2024-08-02-12_33_54.png" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev .swiper-button-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">

    <div class="swiper-button-prev"></div>
  </button>


  <button class="carousel-control-next .swiper-button-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
       <div class="swiper-button-next"></div>

  </button>
</div>
  </div>



        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-12" data-aos="fade-up">
            <div class="portfolio-description">
              <h2>Détails du plateforme</h2>
              <p>
PETSHOP est un projet de site web e-commerce dédié à la vente de produits pour animaux de compagnie. Ce projet vise à offrir une plateforme intuitive et sécurisée où les utilisateurs peuvent explorer, sélectionner, et acheter des articles pour leurs animaux domestiques.

           </p>
<p>        <span class="titre">Conception et Architecture:</span>      La structure du site a été soigneusement élaborée à l'aide d'UML pour définir l'architecture du système et les différents processus commerciaux, assurant ainsi une base solide pour le développement.
</p>
<p><span class="titre">Outil de conception des diagrammes :</span>  LUCIDSPARK est utilisé pour tracer les diagrammes.</p>
<p> <span class="titre">Outils de conception UI/UX :</span> Une interface utilisateur attrayante et facile à utiliser a été conçue avec Figma pour offrir une expérience d'achat fluide et agréable, mettant en avant la commodité et l'accessibilité.</p>

<p> <span class="titre">Technologies frontend :</span> Le front-end du site a été développé en utilisant Angular, permettant une navigation rapide et une interface réactive qui s'adapte parfaitement aux besoins des utilisateurs.</p>

<p> <span class="titre">Éditeur principal :</span> VISUAL STUDIO CODE est l'éditeur principal.</p>


<p> <span class="titre">Backend :</span> Le back-end a été réalisé avec Java Spring Boot pour gérer les fonctionnalités serveur, tandis que MySQL a été utilisé pour la gestion des données, assurant une expérience utilisateur robuste, fiable, et sécurisée.

</p>

<p> <span class="titre">Test des API :</span> INSOMNIA est l'outil utilisé pour tester les API backend.</p>



            </div>
          </div>



        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>





 <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>


