


  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">







<body class="portfolio-details-page">



  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a routerLink="/home">Home</a></li>
            <li class="current">Détails</li>
          </ol>
        </nav>
        <h1>ISTICHARA</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up">


  <div class="swiper-wrapper align-items-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="background-color: #0563bb;"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8" style="background-color: #0563bb;"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9" style="background-color: #0563bb;"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/acceuil.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/1.png" class="d-block w-100" alt="...">
    </div>

     <div class="carousel-item">
      <img src="../../assets/screencapture-localhost-4200-consultant-sidentifier-consultant-2024-06-21-16_40_30.png" class="d-block w-100" alt="...">
    </div> <div class="carousel-item">
      <img src="../../assets/3.png" class="d-block w-100" alt="...">
    </div> <div class="carousel-item">
      <img src="../../assets/4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/0.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/22.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/33.png" class="d-block w-100" alt="...">
    </div>
    <!-- Add more items if needed -->
  </div>
  <button class="carousel-control-prev .swiper-button-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">

    <div class="swiper-button-prev"></div>
  </button>


  <button class="carousel-control-next .swiper-button-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
       <div class="swiper-button-next"></div>

  </button>
</div>
  </div>



        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-12" data-aos="fade-up">
            <div class="portfolio-description">
              <h2>Détails du plateforme</h2>
              <p>
La plateforme  propose une gamme de fonctionnalités conçues pour répondre aux
besoins spécifiques des consultants et des clients. Pour les clients, l'application offre une interface
conviviale pour parcourir et sélectionner des consultations proposées par des experts dans le
domaine spécifique. Ils peuvent facilement choisir une date de consultation parmi celles suggérées
par le consultant, et effectuer le paiement en toute sécurité. Une fois la consultation confirmée, un
lien de vidéoconférence est automatiquement généré pour faciliter la communication à distance.
Pour les consultants, l'application simplifie la gestion de leurs consultations en ligne en leur
permettant de définir leurs services, tarifs et disponibilités. Ils peuvent recevoir des demandes de
rendez-vous des clients, valider les rendez-vous et suivre leur emploi du temps grâce à un tableau
de bord intuitif. La génération automatique de liens de vidéoconférence et l'intégration de
fonctionnalités de paiement sécurisées contribuent à optimiser le processus de consultation en
ligne.              </p>
<p>        <span class="titre">Approche intégrée :</span>      Une approche intégrée combine les méthodologies UML et Merise pour structurer les fonctionnalités et les données.
</p>
<p><span class="titre">Outil de conception des diagrammes :</span>  LUCIDSPARK est utilisé pour tracer les diagrammes.</p>

<p> <span class="titre">Technologies frontend :</span> ANGULARJS et TYPESCRIPT sont choisis pour des interfaces dynamiques, avec CSS, HTML, JAVASCRIPT, BOOTSTRAP et MATERIAL UI pour le style et la structure.</p>

<p> <span class="titre">Éditeur principal :</span> VISUAL STUDIO CODE est l'éditeur principal.</p>

<p> <span class="titre">Outils de conception UI/UX :</span> FIGMA, WEBFLOW, CANVA et PHOTOSHOP sont utilisés pour la conception UI/UX.</p>

<p> <span class="titre">Gestion des données :</span>  MYSQL et FIREBASE REALTIME DATABASE sont employés pour la gestion des données.</p>

<p> <span class="titre">Bibliothèques et APIs :</span> Diverses bibliothèques et APIs telles que STRIPE, ZEGOCLOUD et EMAILJS enrichissent les fonctionnalités.</p>

<p> <span class="titre">Backend :</span>  JAVA SPRING BOOT est utilisé pour le backend, avec une architecture MICROSERVICES gérée via SPRING TOOL SUITE 4 et XAMPP pour les serveurs locaux.</p>

<p> <span class="titre">Test des API :</span> INSOMNIA est l'outil utilisé pour tester les API backend.</p>

<p> <span class="titre">Gestion du projet :</span> Une approche agile basée sur SCRUM est adoptée pour la gestion du projet, avec TRELLO pour l'organisation des tâches.</p>


            </div>
          </div>



        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>





 <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>


