<!-- Resume Section -->

<main class="main">
  <section id="resume" class="resume section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>CV</h2>
      <p>
        Découvrez quelques projets personnels que j'ai réalisés, démontrant mes
        compétences en conception et développement web
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Diplome et Formations</h3>

          <div class="resume-item">
            <h4>Cycle d'Ingénieur</h4>
            <p><em>Informatique et Système d'informations</em></p>
            <ul>
              <li>SUPMTI OUJDA MAROC</li>
            </ul>
          </div>
          <!-- Edn Resume Item -->
          <div class="resume-item">
            <h4>Diplôme Universitaire de Technologie</h4>
            <p><em>Electronique et Informatique Industrielle</em></p>
            <ul>
              <li>EST OUJDA MAROC</li>
            </ul>
          </div>
          <!-- Edn Resume Item -->
          <div class="resume-item pb-0">
            <h4>Baccalauréat -</h4>
            <p><em>Physique Chimie</em></p>
            <ul>
              <li>Lycée ElJABIRI MAROC</li>
            </ul>
          </div>
          <!-- Edn Resume Item -->
          <h3 class="resume-title">Projets</h3>
          <div class="resume-item">
            <h4>Web developer</h4>
            <h5>2024</h5>
            <p><em>Création d'un site web e-commerce (PETSHOP)</em></p>
            <ul>
              <li>
                Conception et Architecture : Élaboration de la structure du site
                web e-commerce PETSHOP en utilisant des outils de modélisation
                UML pour définir l'architecture et les processus.
              </li>
              <li>
                UI/UX : Conception d'une interface utilisateur intuitive et
                attrayante pour améliorer l'expérience d'achat en ligne, en
                utilisant Figma
              </li>
              <li>
                Développement Front-End : Réalisation de l'interface client avec
                Angular pour une navigation fluide et réactive.
              </li>
              <li>
                Développement Back-End : Mise en œuvre de la logique serveur
                avec Java Spring Boot et gestion des données avec MySQL pour
                assurer une expérience de commerce électronique robuste et
                sécurisée.
              </li>
            </ul>
          </div>
          <!-- Edn Resume Item -->
          <div class="resume-item">
            <h4>Web developer</h4>
            <h5>2024</h5>
            <p><em>Création d'une application web 'RESUME BUILDER' </em></p>
            <ul>
              <li>
                Conception et Architecture : Définition de l'architecture de
                l'application RESUME BUILDER pour simplifier le processus de
                création de CV.
              </li>
              <li>
                UI/UX : Conception d'une interface utilisateur intuitive et
                attrayante pour faciliter la création de CV, utilisant FIGMA.
              </li>
              <li>
                Développement Front-End : Réalisation de l'interface utilisateur
                avec Angular pour offrir une expérience fluide et réactive.
              </li>
            </ul>
          </div>
          <!-- Edn Resume Item -->
          <div class="resume-item">
            <h4>Web developer</h4>
            <h5>2023</h5>
            <p>
              <em>Création d'une application web pour un jeu (HANGMAN) </em>
            </p>
            <ul>
              <li>
                Description du jeu : HANGMAN est une application web interactive
                développée pour jouer au jeu du pendu. Le joueur doit deviner un
                mot en proposant des lettres, une à une. Chaque mauvaise réponse
                rapproche le joueur de la pendaison virtuelle du personnage.
              </li>
              <li>
                Technologies Utilisées : Développé avec HTML, CSS et JavaScript,
                HANGMANE offre une interface utilisateur simple mais attrayante,
                avec des animations et des interactions dynamiques.
              </li>
            </ul>
          </div>
          <!-- Edn Resume Item -->
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Expériences Professionnelle</h3>
          <div class="resume-item">
            <h4>Front end Developer</h4>
            <h5>Fervier 2024 - Present</h5>
            <p>
              <em
                >BITBOT CASABLANCA - Conception et Développement d'une
                application web dédiée à la gestion du statios de dessalement
                AGADIR</em
              >
            </p>
            <ul>
              <li>
                Conception : Élaboration des schémas UML pour modéliser
                l'architecture et les processus de l'application, assurant une
                planification et une communication claires.
              </li>
              <li>
                UI/UX : Création de l'interface utilisateur en mettant l'accent
                sur une expérience utilisateur intuitive et engageante.
              </li>
              <li>
                Développement Front-End : Réalisation des interfaces avec
                Angular, facilitant une interaction fluide et réactive pour la
                gestion des souscripteurs, des parcelles, des consommations, des
                contrats et de la facturation.
              </li>
            </ul>
          </div>
          <!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Web Developer</h4>
            <h5>Février 2024 - Présent</h5>
            <p>
              <em
                >Projet Personnelle - Création d'une application web (ISTICHARA)
                from scratch dédiée à la gestion des consultations en ligne dans
                différents domaines.</em
              >
            </p>
            <ul>
              <li>
                Conception et Architecture : Élaboration de la structure de la
                plateforme ISTICHARA en utilisant des outils de modélisation UML
                pour définir l'architecture et les processus.
              </li>
              <li>
                UI/UX : Création d'une interface utilisateur intuitive et
                engageante avec Figma , pour améliorer l'expérience utilisateur
                tout au long du processus de réservation et de consultation.
              </li>
              <li>
                Développement Front-End : Réalisation de l'interface client avec
                Angular, intégrant des fonctionnalités de réservation, paiement
                sécurisé et vidéoconférence.
              </li>
              <li>
                Développement Back-End : Mise en œuvre de la logique serveur
                avec Java Spring Boot, gestion des données avec MySQL,
                intégration des APIs de paiement (Stripe) , de communication en
                temps réel (Firebase Realtime), et de video conférence
                (Zegocloud).
              </li>
              <li>
                Gestion des Services : Développement de tableaux de bord pour
                les administrateurs et les consultants pour la gestion des
                consultations et des services.
              </li>
            </ul>
          </div>
          <!-- Edn Resume Item -->
          <div class="resume-item">
            <h4>Web Developer</h4>
            <h5>Juin 2023 - Semptembre 2023</h5>
            <p>
              <em
                >MENARA VENTURES - Création d'une application web dédiée à la
                gestion des permies minières</em
              >
            </p>
            <ul>
              <li>
                Conception et Architecture : Définition de l'architecture de
                l'application pour la gestion des permis minières, en utilisant
                des outils de modélisation UML.
              </li>
              <li>
                UI/UX : Création d'une interface utilisateur conviviale et
                intuitive en utilisant Figma
              </li>
              <li>
                Développement Front-End : Implémentation des fonctionnalités de
                l'interface utilisateur avec Angular pour une interaction
                fluide.
              </li>
              <li>
                Développement Back-End : Mise en œuvre de la logique serveur et
                de la gestion des données avec Java et MySQL pour assurer une
                gestion efficace des permis minières.
              </li>
            </ul>
          </div>
          <!-- Edn Resume Item -->
        </div>
      </div>
    </div>
  </section>
  <!-- /Resume Section -->
</main>
