  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
<app-navbar></app-navbar>
<main class="main">
   <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <img  src="https://benseddikbouchra.github.io/portfolio/assets/photo.png" alt="">

      <div class="container" data-aos="zoom-out">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <h2>BENSEDDIK BOUCHRA</h2>
<p>Je suis <span class="typed" #typedElement>{{ currentText }}  </span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
            <div class="social-links">
              <a href="https://github.com/BenseddikBouchra" target="_blank"><i class="bi bi-github" ></i></a>
              <a href="https://web.facebook.com/boushra.benseddik" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/boushrabenseddik/" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/bouchra-benseddik-6b3a0212b/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

</main>
<app-about class="scroll-section"></app-about>
<app-resume class="scroll-section"></app-resume>
<app-portfolio class="scroll-section"></app-portfolio>
<app-service class="scroll-section"></app-service>
  <!-- Scroll Top -->
<app-contact></app-contact>
<app-footer></app-footer>
